* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color:#FAFAFA;
}

a {
	text-decoration: none;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header{
	width:100%;
	height:70px;
	background-color: #EC715F;
}

.top-box {
	width: 1024px;
	height: 70px;
	margin:0 auto;
	background-color: #EC715F;
}

.logo {
	height:70px;
	float: left;
}

.nav-list {
	height: 70px;
	list-style: none;
	text-align: right;
	float:right;
}

.nav-list-item {
	size: 16px;
	color: #FAFAFA;
	margin:0 30px;
	line-height: 70px;
	display: inline-block;
}